:root{
    --background-color: #FFFFFF;
    --valute-checked: #EEEEEE;
    --text: #1D1F22;
    --green: #5ECE7B;
}
.cart-overlay-container > .cart-overlay{
    position: absolute;
    top: 77px;
    right: 90px;
    width: 325px;
    max-height: 677px;
    background: var(--background-color);
    z-index: 2;
}
.product-overlay > .my-bag{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    margin-left: 16px;
}
.product-overlay > .products-container{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-left: 16px;
    width: 293px;
    max-height: 420px;
    overflow: auto;
}
.products-container > .cart-overlay-item-container{
    width:293px;
    margin-bottom: 20px;
}
.cart-overlay-item-container > .info-container-overlay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-container-overlay > .cart-overlay-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-container-overlay > .product-data{
    width: 120px;
    margin-right: 12px;
}
.product-data > .price-overlay{
    margin-top: 4px;
}
.attributes > .txt-overlay{
    margin-top: 8px;
}
.choices > .size-overlay{
    min-width: 18px;
    height: 18px;
    margin-right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.choices > .color-overlay{
    width: 16px;
    height: 16px;
    margin-left: 2px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.choices > .checked{
    background-color: var(--text);
}
.info-container-overlay > .quantity-overlay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quantity-overlay > p{
    text-align: center;
}
.product-image-overlay > img{
    margin-left: 8px;
    width: 121px;
}
.product-overlay > .checkout{
    margin-top: 40px;
    margin-left: 16px;
    width: 293px;
}
.checkout > .total-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
}
.checkout > .checkout-btns{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.checkout-btns > button{
    margin-right: 12px;
    width: 140px;
    height: 43px;
    background: var(--background-color);
    border: 1px solid var(--text);
}
a {
    text-decoration: none;
    color: var(--text);
}
#checkout{
    background: var(--green);
    border: 0px;
}