:root{
    --background-color: #FFFFFF;
    --valute-checked: #EEEEEE;
    --text: #1D1F22;
    --border: #E5E5E5;
    --button: #5ECE7B;
}
.app > .cart-page{
    position: absolute;
    top: 80px;
    width: 100%;
}
.cart-page > .cart{
    margin-left: 100px;
    margin-top: 80px;
}
.cart-page > .products{
    width: 85%;
    margin-top: 55px;
    margin-left: 100px;
}
.products > .cart-container{
    width: 100%;
    min-height: 300px;
    max-height: 500px;
    border-bottom:1px solid #E5E5E5;;
}
.cart-container > .single-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    border-top:1px solid var(--border);
}
.single-product > .info-container{
    width:20%;
    margin: 24px;
    margin-left: 0;
}
.single-product > .quantity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px;
    margin-left: 500px;
    width: 45px;
}
.info-container > .brand{
    margin-bottom: 16px;
}
.info-container > .name,
.info-container > .product-price{
    margin-bottom: 20px;
}
.info-container > .attribute-container{
    margin-bottom: 16px;
}
.quantity > button{
    width: 45px;
    height: 45px;
    border: 1px solid var(--text);
    background: var(--background-color);
}
.quantity > button:hover{
    cursor: pointer;
}
.single-product > .product-images{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 24px;
    width: 20%;
}
.product-images > img {
    max-height: 250px;
    object-fit: fill;
}
.product-images > .nav{
    display: flex;
    position: absolute;
    margin-top: 215px;
    right: 10%;
}
.product-images > .nav-hidden{
    display: none;
}
.nav > button {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    background: rgba(0, 0, 0, 0.73);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.cart-page > .place-order{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    margin-left: 100px;
}
.place-order > .order-detail{
    display: flex;
    flex-direction: row;
    height: 28px;
    margin-bottom: 8px;
}
.order-detail > p {
    margin: 0;
    width: 115px;
}
.place-order > .order-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 279px;
    height: 43px;
    background: var(--button);
    border: none;
}