@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700&family=Source+Sans+Pro&display=swap');
:root{
    --raleway : 'Raleway', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --roboto-condensed: 'Roboto Condensed', sans-serif;
    --source-sans-pro: 'Source Sans Pro', sans-serif;
    --green: #5ECE7B;
    --white: #FFFFFF;
    --black: #1D1F22;
    --out-of-stock-color: #8D8F9A;
}
.cart-alert > p{
    text-align: center;
    font-size: 20px;
    color:black;
}
.category > .text{
    font-family: var(--raleway);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    height: 20px;
}
.category > .text:hover{
    color: var(--green);
}
.left > .clicked > .text {
    font-weight: 600;
    color: var(--green);
}
.currency-selector > .valute,
.convert > .valute {
    font-family: var(--raleway);
    font-weight: 500;
    font-size: 18px;
}
.cart-icon-container > .item-number{
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 14px;
    color: var(--white);
    text-align: center;
}
.my-bag > .my-bag-txt,
.my-bag > .my-bag-items{
    font-family: var(--raleway);
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
}
.my-bag > .my-bag-txt{
    font-weight: 700;
}
.product-data > .name-overlay,
.product-data > .brand-overlay,
.product-data > .price-overlay,
.attributes > .txt-overlay,
.choices > .size-overlay{    
    font-family: var(--raleway);
    font-weight: 300;
    font-size: 16px;
    color: var(--black);
}
.product-data > .name-overlay,
.product-data > .brand-overlay{
    line-height: 25.6px;
    font-size: 16px;
}
.product-data > .price-overlay,
.quantity-overlay > .quantity{
    font-weight: 500;
    font-size: 16px;
}
.attributes > .txt-overlay{
    font-weight: 400;
}
.choices > .size-overlay{
    font-family: var(--source-sans-pro);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.choices > .checked{
    color: var(--white);
}
.total-price > .total-price-txt{
    font-family: var(--roboto);
    font-weight: 500;
}
.total-price > .total-price-cost{
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 16px;
}
.checkout-btns > .button-name{
    font-family: var(--raleway);
    font-weight: 600;
}
#checkout{
    color: var(--white);
}
.category-container > .category-name{
    font-family: var(--raleway);
    font-weight: 400;
    font-size: 42px;
}
#product > .product,
#product > .price,
.product-view > .stockStatus{
    font-family: var(--raleway);
    font-weight: 300;
    font-size: 18px;
    color: var(--black);
}
#product > .price{
    font-weight: 500;
}
.product-view > .stockStatus{
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--out-of-stock-color);
}
#product > .out-of-stock{
    color: var(--out-of-stock-color);
}
.info-pack > .name,
.info-pack > .brand,
.info-pack > .add-to-cart,
.info-pack > .product-out-of-stock,
.info-pack > .prc-value{
    font-family: var(--raleway);
    font-weight: 400;
    font-size: 30px;
    color: var(--black);
}
.info-pack > .brand{
    font-weight: 600;
}
.info-pack > .prc-value{
    font-weight: 700;
    font-size: 24px;
}
.info-pack > .add-to-cart,
.info-pack > .product-out-of-stock{
    font-size: 16px;
}
.info-pack > .prod-description{
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
}
.info-pack > div > .txt,
.info-pack > .prc{
    font-family: var(--roboto-condensed);
    font-weight: 700;
    font-size: 18px;
    color: var(--black);
}
.choices > .size{
    font-family: var(--source-sans-pro);
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
}
.cart-page > .cart{
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--black);
}
.info-container > .name,
.info-container > .brand,
.info-container > .product-price{
    font-family: var(--raleway);
    font-weight: 600;
    font-size: 30px;
}
.info-container > .name{
    font-weight: 400;
}
.info-container > .product-price{
    font-weight: 700;
    font-size: 24px;
}
.info-container > .attribute-container{
    font-family: var(--roboto-condensed);
    font-weight: 700;
    font-size: 18px;
}
.quantity > p{ 
    font-family: var(--raleway);
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: var(--black)
}
.order-detail > p,
.order-detail > .total-number,
.place-order > .order-btn{
    font-family: var(--raleway);
    font-weight: 400;
    font-size: 24px;
}
.order-detail > .total{
    font-weight: 500;
}
.order-detail > .total-number{
    font-weight: 700;
}
.place-order > .order-btn{
    font-weight: 600;
    font-size: 14px;
    color: var(--white)
}